#gameBoard{
	position:relative;
	width:200px;
	min-height:200px;
	border:solid 2px #3399FF;
	box-sizing:content-box;
	transition:transform 2s;
	z-index:10;	
}


#gameBoard{
	perspective:1000;
}


.gamePanel{
	width: 100%;
  	height: 100%;
	border:solid 1px green;
	display:inline-block;
	box-sizing:content-box;
  	transform-style: preserve-3d;
  	transition: all 1.0s linear;
}




.panel{
	width:100%;
	height:100%;
	transform-style:preserve-3d;
	transition:all 2.0s linear;
}


.face {
    position: absolute;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}




.face.back{
	display:block;
	background-size:100% 100%;
	background-repeat:no-repeat;
	transform:rotateY(180deg);
	box-sizing:border-box;
}




